<div class="swiper-slide">
  <div class="client-testimonial-card-wrap">
    <div class="client-card-head">
      <div class="client-info">
        <div class="client-img">
          <img src="assets/images/testimonial/david.png" alt="" />
        </div>
        <div class="client-details">
          <h3 class="client-title">David Lennarz</h3>
          <p class="client-para">Co-founder/ Formal President of Registrar Corp</p>
        </div>
      </div>
      <!-- <div class="tmp-star">
        <ul>
          <li>
            <i class="fa-solid fa-star"></i>
          </li>
          <li>
            <i class="fa-solid fa-star"></i>
          </li>
          <li>
            <i class="fa-solid fa-star"></i>
          </li>
          <li>
            <i class="fa-solid fa-star"></i>
          </li>
          <li>
            <i class="fa-solid fa-star"></i>
          </li>
        </ul>
      </div> -->
    </div>
    <p class="client-para">
      In 2005 I hired Ms. Nguyen to manage our nascent business in Vietnam. Over the years that followed, until she emigrated to Canada in 2024, she excelled in
      managing all aspects of what has become a significant number of clients and revenue for us in Vietnam. From organizing public relations and press
      activities, seminars and conferences, the hiring of additional staff, right on to managing our hundreds of clients, Ms. Nguyen functioned at a very high
      level and became highly respected not just by our internal U.S. and foreign team, but also by all of the government agencies, organizations, and clients
      she interacted with. Ms. Nguyen is smart, hardworking, dedicated, trustworthy, diligent, and always a real pleasure to work with. There are few people
      whom I have managed over the years that have all of her attributes and qualities. Wherever her professional career takes her, I am confident she will be
      equally valued.
    </p>
    <div class="quat-logo">
      <img src="assets/images/testimonial/quat-logo.svg" alt="quat-logo" />
    </div>
  </div>
</div>
