<!-- tmp Clients Testimonial Start -->
<section class="clients-testimonial-area tmp-section-gapTop">
  <div class="section-head mb--50">
    <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
      <span class="subtitle">Testimonial</span>
    </div>
    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">What Others Say About Me</h2>
    <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">
      Feedback from Those Who Know Me Best—My Boss, Professor, and Colleague
    </p>
  </div>
  <div class="client-testimonial-swiper position-relative">
    <div class="swiper testimonial-swiper-v2">
      <div class="swiper-wrapper">
        <!-- t1 -->
        @@include('t1.html')
        <!-- t2 -->
        @@include('t1.html')
        <!-- t3 -->
        @@include('t1.html')
      </div>
    </div>
    <div class="tmp-swiper-pagination tmp-swiper-pagination-01"></div>
  </div>
</section>
<!-- tmp Clients Testimonial End -->
