<div class="swiper-slide">
  <div class="client-testimonial-card-wrap">
    <div class="client-card-head">
      <div class="client-info">
        <div class="client-img">
          <img src="assets/images/testimonial/kevin.png" alt="" />
        </div>
        <div class="client-details">
          <h3 class="client-title">Professor Kevin Siebert</h3>
          <p class="client-para">Comment on the "Reflection report for Introduction to Supply Chain Information System course"</p>
        </div>
      </div>
    </div>
    <p class="client-para">
      Your reflection paper thoroughly analyzes how globalization and automation have influenced your professional life in the airline and consulting sectors.
      The globalization section effectively highlights the challenges and opportunities of working in a globalized market, particularly in the food, beverage,
      and medical device industries. Your discussion of automation demonstrates how technological advancements streamlined operations and enhanced productivity
      in both industries.
    </p>
    <div class="quat-logo">
      <img src="assets/images/testimonial/quat-logo.svg" alt="quat-logo" />
    </div>
  </div>
</div>
