<div class="swiper-slide">
  <div class="client-testimonial-card-wrap">
    <div class="client-card-head">
      <div class="client-info">
        <div class="client-img">
          <img src="assets/images/testimonial/kristen.png" alt="" />
        </div>
        <div class="client-details">
          <h3 class="client-title">Professor Kristen McLeod</h3>
          <p class="client-para">
            Comment on the written report for topic: "Provide a comprehensive overview of the Canadian food and beverage processing industry, exploring its key
            characteristics, trends, challenges, and opportunities."
          </p>
        </div>
      </div>
    </div>
    <p class="client-para">
      Of course you presented an engaging, beautifully designed, and beautifully delivered presentation! You clearly understand all the concept we covered in
      class, and your already strong delivery skills have only improved as you became more comfortable doing so in English this semester. I love the
      intruduction of humor - and it shows how that engagement with the audience is created by the presenter. Thank you for the work you put into this
      presentation, and all the attention to detail and course material. I am so excited to see you thrive in your life and career! I wasn't the only person
      impressed by your pitch as your classmates also recognized a job well done! Thalia, I know you have experience presenting and can draw on that, but to do
      so with such confidence and an approachable manner in another language is testament to preparation and practice. Excellent use of time to summarize the
      strong skills and strengths you bring to a potential employer. You used keywords like collaborate, adaptable, etc., but used them judiciously, so as not
      to overwhelm the listener. Well done, Thalia!
    </p>
    <div class="quat-logo">
      <img src="assets/images/testimonial/quat-logo.svg" alt="quat-logo" />
    </div>
  </div>
</div>
