<div class="swiper-slide">
  <div class="client-testimonial-card-wrap">
    <div class="client-card-head">
      <div class="client-info">
        <div class="client-img">
          <img src="assets/images/testimonial/kristen.png" alt="" />
        </div>
        <div class="client-details">
          <h3 class="client-title">Professor Kristen McLeod</h3>
          <p class="client-para">
            Comment on the report presentation for topic: "Provide a comprehensive overview of the Canadian food and beverage processing industry, exploring its
            key characteristics, trends, challenges, and opportunities."
          </p>
        </div>
      </div>
    </div>
    <p class="client-para">
      This is wonderful, Thalia. I'm not surprised. I expected something comprehensive and thorough, and you delivered with strong analysis and writing.
      Feedback below and some notes on the document as well so look for those. You didn't just name the key industry players - you provided insight into trends
      and opportunities. I'm sorry I can't provide better feedback on the depth and quality of your work, but from my perspective, it is outstanding! What I can
      speak to, however, is the way you were able to capture information (and you sourced everything perfectly!) and write about it clearly and concisely. The
      graphics provide enhanced understanding and are well-placed. This is impressive. I really enjoyed reading this, and I'm confident you will excel - in your
      classes, and wherever you land in your career. Thank you for the work you put into this project.
    </p>
    <div class="quat-logo">
      <img src="assets/images/testimonial/quat-logo.svg" alt="quat-logo" />
    </div>
  </div>
</div>
