<div class="swiper-slide">
  <div class="client-testimonial-card-wrap">
    <div class="client-card-head">
      <div class="client-info">
        <div class="client-img">
          <img src="assets/images/testimonial/kristen.png" alt="" />
        </div>
        <div class="client-details">
          <h3 class="client-title">Professor Kristen McLeod</h3>
          <p class="client-para">Business Communication Instructor at Saskatchewan Polytechnic</p>
        </div>
      </div>
    </div>
    <p class="client-para">
      I had the pleasure of teaching Thalia Nguyen in the Business Communications course at Saskatchewan Polytechnic, and I remember her as a thoughtful,
      hardworking, and genuinely kind student. Thalia consistently approached her work with care and professionalism, participating fully in class and
      demonstrating a sincere commitment to improving her communication skills. Her written work was well-organized and clear, and she delivered her
      presentations with confidence and warmth. Thalia is the kind of person who contributes positively to any team environment—reliable, respectful, and eager
      to learn. I'm confident she will bring the same dedication and integrity to any role she pursues.
    </p>
    <div class="quat-logo">
      <img src="assets/images/testimonial/quat-logo.svg" alt="quat-logo" />
    </div>
  </div>
</div>
