<div class="swiper-slide">
  <div class="client-testimonial-card-wrap">
    <div class="client-card-head">
      <div class="client-info">
        <div class="client-img">
          <img src="assets/images/testimonial/thanh.png" alt="" />
        </div>
        <div class="client-details">
          <h3 class="client-title">Vo Phuong Thanh Phan</h3>
          <p class="client-para">Senior Regulatory Advisor / Formal Colleague</p>
        </div>
      </div>
    </div>
    <p class="client-para">
      I really enjoyed working with Thu. She's a great leader and someone you can always count on. She stays calm even when things get stressful, explains
      things clearly, and sets a good example for everyone on the team. Thu is both thoughtful and practical. She handles tough situations well and always makes
      time to help others learn and grow. People trust her easily because she's kind, professional, and truly cares. Any team would be lucky to have someone
      like her.
    </p>
    <div class="quat-logo">
      <img src="assets/images/testimonial/quat-logo.svg" alt="quat-logo" />
    </div>
  </div>
</div>
