<!-- tmp About Me Start -->
<section class="about-us-area tmp-section-gapBottom" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-us-left-content-wrap bg-vactor-one">
          <div class="years-of-experience-card tmp-scroll-trigger tmp-fade-in animation-order-1">
            <h2 class="counter card-title"><span class="odometer" data-count="10">00</span>+</h2>
            <p class="card-para">years of experience</p>
          </div>
          <div class="design-card tmp-scroll-trigger tmp-fade-in animation-order-2">
            <div class="design-card-img">
              <div class="icon">
                <i class="fa-sharp fa-thin fa-gavel"></i>
              </div>
            </div>
            <div class="card-info">
              <h3 class="card-title text-black">Export Compliance</h3>
            </div>
          </div>
          <div class="design-card tmp-scroll-trigger tmp-fade-in animation-order-2">
            <div class="design-card-img">
              <div class="icon">
                <i class="fa-sharp fa-thin fa-chalkboard-user"></i>
              </div>
            </div>
            <div class="card-info">
              <h3 class="card-title text-black">Public Speaking</h3>
            </div>
          </div>
          <div class="design-card tmp-scroll-trigger tmp-fade-in animation-order-2">
            <div class="design-card-img">
              <div class="icon">
                <i class="fa-sharp fa-thin fa-language"></i>
              </div>
            </div>
            <div class="card-info">
              <h3 class="card-title text-black">Cross-cultural Advisory</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-us-right-content-wrap">
          <div class="section-head text-align-left mb--50">
            <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
              <span class="subtitle">Education</span>
            </div>
            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Growth begins with learning — and leads to limitless success</h2>
            <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">
              Lifelong learning is the key that unlocks extraordinary career opportunities
            </p>
          </div>
          <div class="about-us-section-card row g-5">
            <div class="resume-widget">
              <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-1">
                <div class="time">
                  <i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i>
                  2020 - 2023
                </div>
                <h3 class="resume-title">Saskatchewan Polytechnic</h3>
                <div class="institute">Post-Graduate Certificate in Supply Chain Management<br />Project Management</div>
              </div>
              <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-2">
                <div class="time">
                  <i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i>
                  2016 - 2020
                </div>
                <h3 class="resume-title">University of Gloucestershire</h3>
                <div class="institute">Master of Business Administration</div>
              </div>
              <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-3">
                <div class="time">
                  <i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i>
                  2001 - 2005
                </div>
                <h3 class="resume-title">University of Social Sciences and Humanities</h3>
                <div class="institute">Bachelor's Degree in Chinese Linguistics and Literature</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- tmp About Me end -->
