<!-- Tpm Certificate Start -->
<section class="blog-and-news-are tmp-section-gapTop" id="blog">
  <div class="container">
    <div class="section-head mb--50">
      <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
        <span class="subtitle">My Certificates</span>
      </div>
      <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">What I’m Proud to Be Certified In</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="blog-card-style-two tmponhover image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-3">
          <div class="blog-card-img">
            <div class="img-box ratio ratio-4x3">
              <img class="w-100 object-fit-contain" src="assets/images/cert-fspca.png" alt="FSPCA Thumbnail" />
            </div>
            <span>May 2021</span>
          </div>
          <div class="blog-content-wrap">
            <!-- <div class="blog-tags">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-regular fa-user"></i>Mesbah</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-regular fa-comments"></i>Comments (05)</a>
                                </li>
                            </ul>
                        </div> -->
            <h3 class="blog-title">FSPCA Preventive Controls for Human Food (2021)​</h3>
            <p class="description">
              A certification program developed by the Food Safety Preventive Controls Alliance (FSPCA), covering FDA requirements for hazard analysis and
              risk-based preventive controls under the FSMA. It qualifies participants to become Preventive Controls Qualified Individuals (PCQI) for food
              facilities.
            </p>

            <!-- <div class="read-more-btn">
                            <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                <span class="icon-reverse-wrapper">
                    <span class="btn-text">Read More</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="blog-card-style-two tmponhover image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-2">
          <div class="blog-card-img">
            <div class="img-box ratio ratio-4x3">
              <img class="w-100 object-fit-contain" src="assets/images/cert-haccp.png" alt="HACCP Thumbnail" />
            </div>
            <span>Feb 2022</span>
          </div>
          <div class="blog-content-wrap">
            <!-- <div class="blog-tags">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-regular fa-user"></i>Mesbah</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-regular fa-comments"></i>Comments (05)</a>
                                </li>
                            </ul>
                        </div> -->
            <h3 class="blog-title">HACCP for Dry Food Products (2022)</h3>
            <p class="description">
              A certification focused on applying Hazard Analysis and Critical Control Points (HACCP) principles to the production and handling of dry food
              products. It ensures compliance with food safety standards by identifying and controlling potential hazards throughout the manufacturing process.​
            </p>
            <!-- <div class="read-more-btn">
                            <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                <span class="icon-reverse-wrapper">
                    <span class="btn-text">Read More</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="blog-card-style-two tmponhover image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-3">
          <div class="blog-card-img">
            <div class="img-box ratio ratio-4x3">
              <img class="w-100 object-fit-contain" src="assets/images/cert-scrum.png" alt="Scrum Thumbnail" />
            </div>
            <span>Mar 2025</span>
          </div>
          <div class="blog-content-wrap">
            <!-- <div class="blog-tags">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-regular fa-user"></i>Mesbah</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-regular fa-comments"></i>Comments (05)</a>
                                </li>
                            </ul>
                        </div> -->
            <h3 class="blog-title">Scrum Fundamentals Certified (SFC), 2025​</h3>
            <p class="description">
              An entry-level certification that covers the basics of Scrum principles, roles, events, and artifacts. It provides a solid foundation for
              individuals new to Agile and Scrum methodologies.​
            </p>

            <!-- <div class="read-more-btn">
                            <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                <span class="icon-reverse-wrapper">
                    <span class="btn-text">Read More</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tpm Certificate Area End -->
