<!-- tmp Experience and Edu start -->
<section class="resume-section tmp-section-gapTop" id="resume-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-header mb--50 tmp-scroll-trigger tmp-fade-in animation-order-1" id="exp">
          <h2 class="section-title"><i class="fa-regular fa-award"></i>Experience</h2>
        </div>

        <div class="resume-widget">
          <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-1">
            <div class="time"><i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i> 2011 - 2024</div>
            <h3 class="resume-title">Chief Representative - Senior Regulatory Advisor (Indochina Market)</h3>
            <div class="institute">
              Registrar Corp - U.S.-based, operating since 2003, serving 30,000+ clients in 160 countries with FDA registration services for food, beverage,
              cosmetic, and related businesses.
            </div>
          </div>
          <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-2">
            <div class="time"><i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i> 2009 - 2011</div>
            <h3 class="resume-title">Regulatory Advisor</h3>
            <div class="institute">Registrar Corp</div>
          </div>
          <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-3">
            <div class="time"><i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i> 2005 - 2008</div>
            <h3 class="resume-title">Sales Assistant</h3>
            <div class="institute">China Southern Airlines (largest airlines in China) - Ho Chi Minh office<br /></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="section-header mb--50 tmp-scroll-trigger tmp-fade-in animation-order-1" id="edu">
          <h2 class="section-title"><i class="fa-regular fa-graduation-cap"></i>Education</h2>
        </div>

        <div class="resume-widget">
          <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-1">
            <div class="time">
              <i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i>
              2020 - 2023
            </div>
            <h3 class="resume-title">Saskatchewan Polytechnic</h3>
            <div class="institute">Post-Graduate Certificate in Supply Chain Management<br />Project Management</div>
          </div>
          <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-2">
            <div class="time">
              <i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i>
              2016 - 2020
            </div>
            <h3 class="resume-title">University of Gloucestershire</h3>
            <div class="institute">Master of Business Administration</div>
          </div>
          <div class="resume-single tmp-scroll-trigger tmp-fade-in animation-order-3">
            <div class="time">
              <i class="fa-duotone fa-solid fa-circle-dot fa-fade mr--15"></i>
              2001 - 2005
            </div>
            <h3 class="resume-title">University of Social Sciences and Humanities</h3>
            <div class="institute">Bachelor's Degree in Chinese Linguistics and Literature</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- tmp Experience and Edu end -->
