<!-- tmp Profession Start -->
<section class="about-us-area tmp-section-gapBottom-00" id="expertise">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-us-left-content-wrap bg-vactor-one">
          <div class="years-of-experience-card tmp-scroll-trigger tmp-fade-in animation-order-1">
            <h2 class="counter card-title"><span class="odometer" data-count="15">00</span>+</h2>
            <p class="card-para">years of experience</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-us-right-content-wrap">
          <div class="section-head text-align-left mb--50">
            <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
              <span class="subtitle">Expertise</span>
            </div>
            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Areas I Excel In</h2>
            <!-- <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">
              Lifelong learning is the key that unlocks extraordinary career opportunities
            </p> -->
          </div>
          <div class="about-us-section-card row g-5">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4" style="--x: 54px; --y: 49px">
                <div class="card-head">
                  <!-- <div class="icon">
                    <i class="fa-sharp fa-thin fa-gavel"></i>
                  </div> -->
                  <h3 class="card-title">International Market Expansion and Multi-country Client Management</h3>
                </div>
                <p class="card-para">
                  Led multi-country expansion and grew client base 9x over 5 years showcasing strategic planning and cross-border operations.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-5" style="--x: 33px; --y: 0px">
                <div class="card-head">
                  <!-- <div class="icon">
                    <i class="fa-sharp fa-thin fa-chalkboard-user"></i>
                  </div> -->
                  <h3 class="card-title">Regulatory Compliance Project Execution and Client Advising</h3>
                </div>
                <p class="card-para">Managed end-to-end FDA compliance projects, ensuring timely execution and regulatory alignment for global exports.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-5" style="--x: 33px; --y: 0px">
                <div class="card-head">
                  <!-- <div class="icon">
                    <i class="fa-sharp fa-thin fa-language"></i>
                  </div> -->
                  <h3 class="card-title">Seminar and Trade Show Leadership</h3>
                </div>
                <p class="card-para">Organized and spoke at 30+ industry events, demonstrating leadership in stakeholder engagement and training.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- tmp My Profession end -->
