<div class="tmp-mainmenu-nav d-none d-xl-block">
  <nav class="navbar-example2 onepagenav">
    <ul class="tmp-mainmenu nav nav-pills">
      <li class="current">
        <a class="smoth-animation" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#service">Services</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#contacts">Contact</a>
      </li>
    </ul>
  </nav>
</div>
