<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Ba Thien Thu Nguyen | My Portfolio" />
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />
  <title>Ba Thien Thu Nguyen | My Portfolio</title>
  <!-- Bootstrap min css -->
  <link rel="stylesheet" href="assets/css/fontawesome.css" />
  <link rel="stylesheet" href="assets/css/swiper.css" />
  <link rel="stylesheet" href="assets/css/odometer.css" />
  <link rel="stylesheet" href="assets/css/animate.min.css" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <!-- custom css -->
  <link rel="stylesheet" href="assets/css/style.css" />
</head>
