<div class="tmp-mainmenu-nav d-none d-xl-block">
  <nav class="navbar-example2 onepagenav">
    <ul class="tmp-mainmenu nav nav-pills">
      <li class="current">
        <a class="smoth-animation" href="#home">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="smoth-animation" href="#motto">Motto</a>
      </li> -->
      <li class="nav-item">
        <a class="smoth-animation" href="#expertise">Expertise</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#exp">Experience</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#edu">Education</a>
      </li>
      <!-- <li class="nav-item">
        <a class="smoth-animation" href="#expertise">Expertise</a>
      </li> -->
      <li class="nav-item">
        <a class="smoth-animation" href="#media">Media</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#story">Story</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#certificate">Certificate</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#testimonial">Testimonial</a>
      </li>
      <li class="nav-item">
        <a class="smoth-animation" href="#hobby">Hobby</a>
      </li>
    </ul>
  </nav>
</div>
