<div class="tmp-header-right">
  <div class="social-share-wrapper d-none d-md-block">
    <div class="social-link">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    </div>
  </div>

  <div class="tmp-side-collups-area d-block d-xl-none">
    <button class="hamberger-menu humberger_menu_active">
      <i id="menuBtn" class="fa-light fa-bars humberger-menu"></i>
    </button>
  </div>
</div>
