<!-- Tpm Hobby Start -->
<section class="blog-and-news-are tmp-section-gap" id="blog">
  <div class="container">
    <div class="section-head mb--50">
      <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
        <span class="subtitle">Hobbies</span>
      </div>
      <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">The Little Things <br />That Make Life Fun</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="blog-card-style-two tmponhover image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-3">
          <div class="blog-card-img">
            <div class="img-box ratio ratio-4x3">
              <img class="w-100 object-fit-cover" src="assets/images/hobbies-photograph.jpg" alt="Photograph Thumbnail" />
            </div>
            <!-- <span>12 Feb</span> -->
          </div>
          <div class="blog-content-wrap">
            <!-- <div class="blog-tags">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-regular fa-user"></i>Mesbah</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-regular fa-comments"></i>Comments (05)</a>
                                </li>
                            </ul>
                        </div> -->
            <h3 class="blog-title">Photograph - Capturing Life’s Moments Through My Lens</h3>
            <p class="description">
              I enjoy taking photos to capture the moments and details around me—whether it’s the beauty of nature, everyday life, or special memories with my
              two sons. Photography helps me pause and appreciate the world through a different lens.
            </p>

            <!-- <div class="read-more-btn">
                            <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                <span class="icon-reverse-wrapper">
                    <span class="btn-text">Read More</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="blog-card-style-two tmponhover image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-2">
          <div class="blog-card-img">
            <div class="img-box ratio ratio-4x3">
              <img class="w-100 object-fit-cover" src="assets/images/hobbies-travelling.jpg" alt="Travelling Thumbnail" />
            </div>
            <!-- <span>12 Feb</span> -->
          </div>
          <div class="blog-content-wrap">
            <!-- <div class="blog-tags">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-regular fa-user"></i>Mesbah</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-regular fa-comments"></i>Comments (05)</a>
                                </li>
                            </ul>
                        </div> -->
            <h3 class="blog-title">Travelling - occaecat dolor laborum et elit</h3>
            <p class="description">
              Voluptate exercitation exercitation est ad amet sit qui occaecat cillum amet. Exercitation excepteur ipsum ad. Non cupidatat labore mollit mollit
              ex nulla cillum dolore ipsum est ad nisi elit ipsum commodo. Incididunt culpa ipsum culpa laboris quis ad officia pariatur do dolor.
            </p>
            <!-- <div class="read-more-btn">
                            <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                <span class="icon-reverse-wrapper">
                    <span class="btn-text">Read More</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="blog-card-style-two tmponhover image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-3">
          <div class="blog-card-img">
            <div class="img-box ratio ratio-4x3">
              <img class="w-100 object-fit-cover" src="assets/images/hobbies-cooking.jpg" alt="Cooking Thumbnail" />
            </div>
            <!-- <span>12 Feb</span> -->
          </div>
          <div class="blog-content-wrap">
            <!-- <div class="blog-tags">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-regular fa-user"></i>Mesbah</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-regular fa-comments"></i>Comments (05)</a>
                                </li>
                            </ul>
                        </div> -->
            <h3 class="blog-title">Cooking - From My Kitchen with Love</h3>
            <p class="description">
              I enjoy cooking because it gives me a sense of creativity and comfort. It’s more than just preparing meals—it’s a way for me to relax, express
              love for my family, and explore different cultures through food. Cooking has taught me patience, attention to detail, and the joy of sharing
              something made with care.
            </p>

            <!-- <div class="read-more-btn">
                            <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                <span class="icon-reverse-wrapper">
                    <span class="btn-text">Read More</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tpm Hobby End -->
