<!-- tmp Media Start -->
<section class="latest-portfolio-area custom-column-grid tmp-section-gapTop" id="media">
  <div class="container">
    <div class="section-head mb--60">
      <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
        <span class="subtitle">Me on Media</span>
      </div>
      <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">A Journey Through Industry Events and Media Engagements</h2>
      <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">
        Represent my company to share Expertise on Export Compliance at Conferences and Trade Shows
      </p>
    </div>
    <div class="latest-portfolio-tabs-area">
      <div class="tab-content bg-blur-style-one" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab" tabindex="0">
          <div class="row">
            <div class="col-lg-6">
              <div class="latest-portfolio-card-style-two image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-1">
                <div class="portfoli-card-img">
                  <div class="img-box">
                    <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="javascript:void(0)">
                      <img class="w-100" src="assets/images/media-2011.jpg" alt="Thumbnail" />
                    </a>
                  </div>
                </div>
                <div class="portfolio-card-content-wrap">
                  <div class="content-left">
                    <h3 class="portfolio-card-title">
                      <a href="javascript:void(0)">Annual year end conference (2011) Annual</a>
                    </h3>
                    <div class="description mt-5">
                      <div class="mb-1">
                        <strong>Audience: </strong
                        ><span class="text-black">Vietnam Trade Promotion Agency and the Agricultural, Food & Foodstuff Department</span>
                      </div>
                      <div class="mb-1">
                        <strong>Content: </strong
                        ><span class="text-black">Shared export compliance insights Provided guidance on regulatory pathways for global market access</span>
                      </div>
                      <div>
                        <strong>Achievement: </strong
                        ><span class="text-black">Recognized as the most active agency supporting their members with regulatory advice</span>
                      </div>
                    </div>
                  </div>

                  <!-- <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="project-details-white.html">
                    <span class="icon-reverse-wrapper">
                      <span class="btn-text">View design</span>
                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </span>
                  </a> -->
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="latest-portfolio-card-style-two image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-2">
                <div class="portfoli-card-img">
                  <div class="img-box">
                    <a target="_blank" class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="https://www.youtube.com/watch?v=f0N71i7sfd8">
                      <img class="w-100" src="assets/images/media-2018.png" alt="Thumbnail" />
                    </a>
                  </div>
                </div>
                <div class="portfolio-card-content-wrap">
                  <div class="content-left">
                    <h3 class="portfolio-card-title">
                      <a target="_blank" href="https://www.youtube.com/watch?v=f0N71i7sfd8">Selling Globally On Amazon Event (September 2018)</a>
                    </h3>
                    <div class="description mt-5">
                      <div class="mb-1"><strong>Invited by: </strong><span class="text-black">Amazon</span></div>
                      <div class="mb-1"><strong>Audience: </strong><span class="text-black">800+ Amazon sellers in Vietnam</span></div>
                      <div class="mb-1">
                        <strong>Content: </strong><span class="text-black">Presented key U.S. regulatory requirements and compliance information</span>
                      </div>
                      <div>
                        <strong>Achievement: </strong><span class="text-black">Appointment as Amazon's official regulatory advisor for U.S. bound sellers</span>
                      </div>
                    </div>
                  </div>
                  <a target="_blank" class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="https://www.youtube.com/watch?v=f0N71i7sfd8">
                    <span class="icon-reverse-wrapper">
                      <span class="btn-text">Watch Video</span>
                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="latest-portfolio-card-style-two image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-2">
                <div class="portfoli-card-img">
                  <div class="img-box">
                    <a
                      target="_blank"
                      class="tmp-scroll-trigger tmp-zoom-in animation-order-1"
                      href="https://thoibaotaichinhvietnam.vn/nhieu-tiem-nang-cho-hang-viet-xuat-khau-sang-thi-truong-hoa-ky-16293.html"
                    >
                      <img class="w-100" src="assets/images/media-2021.jpg" alt="Thumbnail" />
                    </a>
                  </div>
                </div>
                <div class="portfolio-card-content-wrap">
                  <div class="content-left">
                    <h3 class="portfolio-card-title">
                      <a target="_blank" href="https://thoibaotaichinhvietnam.vn/nhieu-tiem-nang-cho-hang-viet-xuat-khau-sang-thi-truong-hoa-ky-16293.html"
                        >Media Engagement on Post Pandemic Export Outlook (2021)</a
                      >
                    </h3>
                    <div class="description mt-5">
                      <div class="mb-1">
                        <strong>Publisher: </strong
                        ><span class="text-black">Vietnam Financial Times, a publication under the Ministry of Finance of Vietnam</span>
                      </div>
                      <div class="mb-1">
                        <strong>Content: </strong
                        ><span class="text-black"
                          >The article encourages Vietnamese businesses to explore U.S. export opportunities and highlights the need for strategic, informed
                          planning</span
                        >
                      </div>
                      <div class="mb-1">
                        <strong>My Role: </strong
                        ><span class="text-black"
                          >As an a regulatory expert providing guidance to Vietnamese businesses on meeting U.S. export requirements. Offer insights on FDA
                          registration, clarify common misconceptions, and help exporters understand how to comply with regulations to succeed in the U.S.
                          market</span
                        >
                      </div>
                    </div>
                  </div>
                  <a
                    class="tmp-btn hover-icon-reverse radius-round btn-border btn-md"
                    target="_blank"
                    href="https://thoibaotaichinhvietnam.vn/nhieu-tiem-nang-cho-hang-viet-xuat-khau-sang-thi-truong-hoa-ky-16293.html"
                  >
                    <span class="icon-reverse-wrapper">
                      <span class="btn-text">Read Full Article</span>
                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="latest-portfolio-card-style-two image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-2">
                <div class="portfoli-card-img">
                  <div class="img-box">
                    <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="javascript:void(0)">
                      <img class="w-100" src="assets/images/media-2023.jpg" alt="Thumbnail" />
                    </a>
                  </div>
                </div>
                <div class="portfolio-card-content-wrap">
                  <div class="content-left">
                    <h3 class="portfolio-card-title">
                      <a href="javascript:void(0)">U.S FDA Cosmetic Regulation Seminar (2023)</a>
                    </h3>
                    <div class="description mt-5">
                      <div class="mb-1"><strong>Invited by: </strong><span class="text-black">Vietnam Cosmetic Association as guest speaker</span></div>
                      <div class="mb-1">
                        <strong>Audience: </strong><span class="text-black">100 + members of the Vietnam Cosmetic Association on export regulations</span>
                      </div>
                      <div class="mb-1">
                        <strong>Content: </strong><span class="text-black">Shared compliance strategies for international market entry</span>
                      </div>
                      <div>
                        <strong>Achievement: </strong
                        ><span class="text-black">Led to signing a memorandum to become the association's official regulatory agency</span>
                      </div>
                    </div>
                  </div>
                  <!-- <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="project-details-white.html">
                    <span class="icon-reverse-wrapper">
                      <span class="btn-text">View design</span>
                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </span>
                  </a> -->
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="latest-portfolio-card-style-two image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-2">
                <div class="portfoli-card-img">
                  <div class="img-box">
                    <a
                      target="_blank"
                      class="tmp-scroll-trigger tmp-zoom-in animation-order-1"
                      href="https://www.sggp.org.vn/dang-ky-so-fda-chia-khoa-de-xuat-khau-thuc-pham-vao-my-post592595.html"
                    >
                      <img class="w-100" src="assets/images/media-sggp.jpg" alt="Thumbnail" />
                    </a>
                  </div>
                </div>
                <div class="portfolio-card-content-wrap">
                  <div class="content-left">
                    <h3 class="portfolio-card-title">
                      <a target="_blank" href="https://www.sggp.org.vn/dang-ky-so-fda-chia-khoa-de-xuat-khau-thuc-pham-vao-my-post592595.html"
                        >Media Engagement: Key to export food to the US (2021)</a
                      >
                    </h3>
                    <div class="description mt-5">
                      <div class="mb-1">
                        <strong>Publisher: </strong
                        ><span class="text-black"
                          >Sài Gòn Giải Phóng News, a major Vietnamese newspaper under the Ho Chi Minh City Party Committee, covering politics, economy, and
                          society</span
                        >
                      </div>
                      <div class="mb-1">
                        <strong>Content: </strong
                        ><span class="text-black"
                          >A practical guide for Vietnamese food exporters aiming to enter the U.S. market. It raises awareness about the mandatory FDA
                          registration process, clarifies legal and compliance requirements, and helps businesses avoid costly mistakes.</span
                        >
                      </div>
                      <div class="mb-1">
                        <strong>My Role: </strong
                        ><span class="text-black"
                          >As an expert in FDA registration, I shared tips for Vietnamese food exporters — who needs it, key rules to follow, and common
                          mistakes so that businesses can enter the U.S. market with confidence.</span
                        >
                      </div>
                    </div>
                  </div>
                  <a
                    class="tmp-btn hover-icon-reverse radius-round btn-border btn-md"
                    target="_blank"
                    href="https://www.sggp.org.vn/dang-ky-so-fda-chia-khoa-de-xuat-khau-thuc-pham-vao-my-post592595.html"
                  >
                    <span class="icon-reverse-wrapper">
                      <span class="btn-text">Read Full Article</span>
                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- tmp Media end -->
