<!-- tmp motto start -->
<div class="about-content-area">
  <div class="container tmp-section-gapBottom">
    <!-- <div class="section-head">
      <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
        <span class="subtitle">Motto</span>
      </div>
    </div> -->
    <div class="text-para-doc-wrap">
      <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in animation-order-1 inv-title-animation-wrap">
        "<span>Growth</span> begins with <span>learning</span> — and leads to limitless <span>success</span>. Lifelong learning is the <span>key</span> that
        unlocks extraordinary <span>career opportunities</span>."
      </h2>
      <div class="right-bg-text-para">
        <img src="assets/images/banner/right-bg-text-para-doc.png" alt="" />
      </div>
      <div class="left-bg-text-para">
        <img src="assets/images/banner/left-bg-text-para-doc.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- tmp motto end -->
