<!-- Start Popup Mobile Menu  -->
<div class="d-block d-xl-none">
  <div class="tmp-popup-mobile-menu">
    <div class="inner">
      <div class="header-top">
        <div class="logo">
          <a href="index.html" class="logo-area">
            <img class="logo-dark" src="assets/images/logo/logo-blue.svg" alt="logo" />
            <img class="logo-white" src="assets/images/logo/logo-blue-white.svg" alt="logo" />
          </a>
        </div>
        <div class="close-menu">
          <button class="close-button tmp-round-action-btn">
            <i class="fa-sharp fa-light fa-xmark"></i>
          </button>
        </div>
      </div>

      <ul class="tmp-mainmenu onepagenav-click">
        <li><a class="smoth-animation" href="#home">Home</a></li>
        <li><a class="smoth-animation" href="#profession">Profession</a></li>
        <li><a class="smoth-animation" href="#exp">Experience</a></li>
        <li><a class="smoth-animation" href="#edu">Education</a></li>
        <li><a class="smoth-animation" href="#expertise">Expertise</a></li>
        <li><a class="smoth-animation" href="#media">Media</a></li>
        <li><a class="smoth-animation" href="#story">Story</a></li>
        <li><a class="smoth-animation" href="#certificate">Certificate</a></li>
        <li><a class="smoth-animation" href="#testimonial">Testimonial</a></li>
      </ul>

      <!-- social sharea area -->
      <div class="social-wrapper mt--40">
        <span class="subtitle">connect with me</span>
        <div class="social-link">
          <!-- <a href="#"><i class="fa-brands fa-instagram"></i></a> -->
          <!-- <a href="#"><i class="fa-brands fa-twitter"></i></a> -->
          <!-- <a href="#"><i class="fa-brands fa-facebook-f"></i></a> -->
          <a target="_blank" href="__LINKEDIN__"><i class="fa-brands fa-linkedin-in"></i></a>
          <a target="_blank" href="mailto:__EMAIL__"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
      <!-- end -->
    </div>
  </div>
</div>
<!-- End Popup Mobile Menu  -->
