<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>

<script src="assets/js/odometer.js"></script>
<script src="assets/js/appear.js"></script>

<script src="assets/js/jquery-one-page-nav.js"></script>
<script src="assets/js/swiper.js"></script>

<script src="assets/js/gsap.js"></script>
<script src="assets/js/splittext.js"></script>
<script src="assets/js/scrolltigger.js"></script>
<script src="assets/js/scrolltoplugins.js"></script>
<script src="assets/js/smoothscroll.js"></script>
<!-- bootstrap Js-->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waw.js"></script>
<script src="assets/js/isotop.js"></script>
<script src="assets/js/animation.js"></script>
<script src="assets/js/contact.form.js"></script>
<script src="assets/js/backtop.js"></script>
<script src="assets/js/text-type.js"></script>
<!-- custom Js -->
<script src="assets/js/main.js"></script>
