<!-- Tpm Story Start -->
<section class="blog-and-news-are tmp-section-gapTop" id="blog">
  <div class="container">
    <div class="section-head mb--50">
      <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
        <span class="subtitle">My Story</span>
      </div>
      <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">
        Lifelong learning is the key that unlocks extraordinary career opportunities
      </h2>
      <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">And with this motto, I achieve my career dream. Let me tell you how I did it!</p>
    </div>
    <div class="d-flex justify-content-center">
      <ul class="d-flex flex-column flex-grow-1 timeline-container">
        <li class="d-flex flex-row">
          <div class="d-md-flex d-none timeline-milestone justify-content-end">
            <div class="text-end mr--15">2001<br />2005</div>
          </div>
          <div>
            <i class="fa-solid fa-circle-dot fa-fade fs-2 color-primary mr--15"></i>
          </div>
          <div class="timeline-content position-relative bg-secondary-subtle p-4 rounded-3 w-100">
            <div class="d-md-none color-primary fw-bold">2001 - 2005</div>
            <img src="assets/images/story/uni-2005.jpg" class="w-100 rounded-3 mb-3" alt="University Graduation 2005 Thumbnail" />
            <div class="fs-2 fw-bold"><i class="color-primary fa-solid fa-graduation-cap"></i> Bachelor’s Degree in Chinese linguistics and literature</div>
            <div class="text-secondary">University of Social Sciences and Humanities, Vietnam</div>
            <div>
              Since I was already proficient in English, I chose to major in Chinese for my Bachelor's degree to better align with the world’s emerging economic
              landscape.​
            </div>
          </div>
        </li>
        <li class="d-flex flex-row">
          <div class="d-md-flex d-none timeline-milestone justify-content-end">
            <div class="text-end mr--15">2004</div>
          </div>
          <div>
            <i class="fa-solid fa-circle-dot fa-fade fs-2 color-primary mr--15"></i>
          </div>
          <div class="timeline-content position-relative bg-secondary-subtle p-4 rounded-3 w-100">
            <div class="d-md-none color-primary fw-bold">2004</div>
            <div class="fs-2 fw-bold">
              <i class="color-primary fa-solid fa-award"></i> Marketing, Human Resource Management, Economics, and Banking and Financing Courses
            </div>
            <div class="text-secondary">Foreign Trade Training Languages Colleges, Vietnam</div>
            <div>
              Realizing my passion for business, in addition to holding a Bachelor's degree in Chinese Language, I also pursued additional business
              certificates.​
            </div>
          </div>
        </li>
        <li class="d-flex flex-row">
          <div class="d-md-flex d-none timeline-milestone justify-content-end">
            <div class="text-end mr--15">Sep 2005<br />Jul 2008</div>
          </div>
          <div>
            <i class="fa-solid fa-circle-dot fa-fade fs-2 color-primary mr--15"></i>
          </div>
          <div class="timeline-content position-relative bg-secondary-subtle p-4 rounded-3 w-100">
            <div class="d-md-none color-primary fw-bold">Sep 2005 - Jul 2008</div>
            <img src="assets/images/story/china-southern.png" class="w-100 rounded-3 mb-3" alt="Sales Assistant Thumbnail" />
            <div class="fs-2 fw-bold"><i class="color-primary fa-solid fa-suitcase"></i> Sales Assistant</div>
            <div class="text-secondary">China Southern Airlines</div>
            <div>
              My bachelor degree and these additional courses landed me a Ticketing Agent role at China Southern Airlines (the largest airline in China) –
              Vietnam office
            </div>
          </div>
        </li>
        <li class="d-flex flex-row">
          <div class="d-md-flex d-none timeline-milestone justify-content-end">
            <div class="text-end mr--15">Mar 2009<br />Feb 2011</div>
          </div>
          <div>
            <i class="fa-solid fa-circle-dot fa-fade fs-2 color-primary mr--15"></i>
          </div>
          <div class="timeline-content position-relative bg-secondary-subtle p-4 rounded-3 w-100">
            <div class="d-md-none color-primary fw-bold">Mar 2009 - Feb 2011</div>
            <img src="assets/images/story/registrar-advisor.png" class="w-100 rounded-3 mb-3" alt="University Graduation 2005" />
            <div class="fs-2 fw-bold"><i class="color-primary fa-solid fa-suitcase"></i> Regulatory Advisor</div>
            <div class="text-secondary">Registrar Corp</div>
            <div>
              After four years, I decided to to shift into a more strategic role in Commercial business and was offered a job at Registrar Corp, a US based
              company that helps businesses comply with FDA regulations thanks to the business experience and the courses that I completed.
            </div>
          </div>
        </li>
        <li class="d-flex flex-row">
          <div class="d-md-flex d-none timeline-milestone justify-content-end">
            <div class="text-end mr--15">2010<br />2013</div>
          </div>
          <div>
            <i class="fa-solid fa-circle-dot fa-fade fs-2 color-primary mr--15"></i>
          </div>
          <div class="timeline-content position-relative bg-secondary-subtle p-4 rounded-3 w-100">
            <div class="d-md-none color-primary fw-bold">2010 - 2013</div>
            <img src="assets/images/story/graduate-mba.jpg" class="w-100 rounded-3 mb-3" alt="MBA Thumbnail" />
            <div class="fs-2 fw-bold"><i class="color-primary fa-solid fa-graduation-cap"></i> Master of Business Administration</div>
            <div class="text-secondary">University of Gloucestershire</div>
            <div>
              To advance to the role of Chief Representative, I pursued MBA program at the University of Gloucestershire in Vietnam 2 years after joining the
              company
            </div>
          </div>
        </li>
        <li class="d-flex flex-row">
          <div class="d-md-flex d-none timeline-milestone justify-content-end">
            <div class="text-end mr--15">2011<br />2024</div>
          </div>
          <div>
            <i class="fa-solid fa-circle-dot fa-fade fs-2 color-primary mr--15"></i>
          </div>
          <div class="timeline-content position-relative bg-secondary-subtle p-4 rounded-3 w-100">
            <div class="d-md-none color-primary fw-bold">2011 - 2024</div>
            <img src="assets/images/story/registrar-manager.png" class="w-100 rounded-3 mb-3" alt="Chief Representative Thumbnail" />
            <div class="fs-2 fw-bold"><i class="color-primary fa-solid fa-suitcase"></i> Chief Representative | Senior Regulatory Advisor</div>
            <div class="text-secondary">Registrar Corp</div>
            <div>
              The knowledge and skills I acquired from the MBA program helped me successfully be promoted as Chief Representative-Senior Regulatory Advisor.
              Since then, I have achieved considerable success​
            </div>
          </div>
        </li>
        <li class="d-flex flex-row">
          <div class="d-md-flex d-none timeline-milestone justify-content-end">
            <div class="text-end mr--15">2024<br />2025</div>
          </div>
          <div>
            <i class="fa-solid fa-circle-dot fa-fade fs-2 color-primary mr--15"></i>
          </div>
          <div class="timeline-content position-relative bg-secondary-subtle p-4 rounded-3 w-100">
            <div class="d-md-none color-primary fw-bold">2024 - 2025</div>
            <img src="assets/images/story/graduate-supplychain.jpg" class="w-100 rounded-3 mb-3" alt="Supply Chain Management Thumbnail" />
            <div class="fs-2 fw-bold"><i class="color-primary fa-solid fa-graduation-cap"></i> Post Graduate Certificate Supply Chain Management</div>
            <div class="text-secondary">Saskatchewan Polytechnic</div>
            <div>
              Working at Registrar Corp opened my eyes to the fascinating world of supply chain. I became passionate about efficiency and strategic planning,
              which led me to pursue studies in Supply Chain Management and Project Management in Canada. These fields allow me to combine analytical thinking
              with leadership to drive results and deliver value across industries.​
            </div>
          </div>
        </li>
        <li class="d-flex flex-row">
          <div class="d-md-flex d-none timeline-milestone justify-content-end">
            <div class="text-end mr--15">2024<br />2025</div>
          </div>
          <div>
            <i class="fa-solid fa-circle-dot fa-fade fs-2 color-primary mr--15"></i>
          </div>
          <div class="timeline-content position-relative bg-secondary-subtle p-4 rounded-3 w-100">
            <div class="d-md-none color-primary fw-bold">2024-2025</div>
            <img src="assets/images/story/opendoor-volunteer.png" class="w-100 rounded-3 mb-3" alt="Open Door Volunteer Thumbnail" />
            <div class="fs-2 fw-bold"><i class="color-primary fa-solid fa-hand-holding-heart"></i> Interpeter – Casual</div>
            <div class="text-secondary">Regina Open Door</div>
            <div>
              While studying, I also worked as a casual interpreter for the Regina Open Door Society to better integrate into the local environment and support
              the community. I primarily interpreted in Vietnamese, and occasionally in Chinese when needed, covering a wide range of topics including
              healthcare, education, and legal cases. This role deepened my cultural understanding and strengthened my empathy and communication skills.​
            </div>
          </div>
        </li>
        <li class="d-flex flex-row">
          <div class="d-md-flex d-none timeline-milestone justify-content-end">
            <div class="text-end mr--15">2025+</div>
          </div>
          <div>
            <i class="fa-solid fa-circle-dot fa-fade fs-2 color-primary mr--15"></i>
          </div>
          <div class="timeline-content position-relative bg-secondary-subtle p-4 rounded-3 w-100">
            <div class="d-md-none color-primary fw-bold">2025+</div>
            <img src="assets/images/story/future.jpg" class="w-100 rounded-3 mb-3" alt="My New Role Thumbnail" />
            <div class="fs-2 fw-bold"><i class="color-primary fa-solid fa-rocket"></i> My New Role in...</div>
            <div class="text-secondary">Your Awesome Team</div>
            <div>
              My motto is to never stop learning and turn knowledge into impact. I’ve used this mindset to grow and deliver results—and now I’m ready to bring
              that same passion and drive to your team. Let’s achieve great things together.​
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Tpm Story End -->
